extends layout

block content
  h1= title

  select
    option(value="1")
      span jknrfjrf erfenrfjernfe rferfnerjfnerjfe rferjfnejrfnerf erf erferfnerfnejrfer ferfnerfer
    option(value="2")
      marquee jknrfjrf
    option(value="3")
      marquee jknrfjrf er7834734hg435b35ui34894343mn43nm43nm 43
    option(value="4")
      marquee jknrfjrf erfenrfjernfe rferfnerjfnerjfe rferjfnejrfnerf erf erferfnerfnejrfer ferfnerfer efhjberfhjerb egern gjer ern genr gerg
    option(value="5")
      marquee jknrfjrf erfenrfjernf rferjfnejrfnerf erf erferfnerfnejrfer ferfnerfer

